@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), url("OTF/PPNeueMontreal-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), url("OTF/PPNeueMontreal-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), url("OTF/PPNeueMontreal-Book.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), url("OTF/PPNeueMontreal-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), url("OTF/PPNeueMontreal-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

* {
  scrollbar-width: thin;
  scrollbar-track-color: transparent;
  scrollbar-face-color: gray transparent;
}
